$vue3-progress-bar-container-z-index: 999999 !default;
$vue3-progress-bar-container-transition: all 500ms ease !default;

$vue3-progress-bar-color: #4f46e5 !default;
$vue3-progress-bar-height: 4px !default;
$vue3-progress-bar-transition: all 200ms ease !default;
.vue3-progress-bar-container {
  position: fixed;
  z-index: $vue3-progress-bar-container-z-index;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: $vue3-progress-bar-container-transition;
  &[active="true"] {
    opacity: 1;
    transition: none;
  }
  .vue3-progress-bar {
    width: 100%;
    height: $vue3-progress-bar-height;
    transform: translate3d(-100%, 0, 0);
    background-color: $vue3-progress-bar-color;
    transition: $vue3-progress-bar-transition;
  }
}


